#logintitle {
    width: 240px;
    height: 400px;
    opacity: 0.9;
}

.ui-listview {
    /*opacity:0.95;*/
}

.badge {
    background: none repeat scroll 0 0 #ff33aa;
    border-radius: 12px;
    color: white;
    font: bold 15px/13px Helvetica,Verdana,Tahoma;
    height: 15px;
    left: 27px;
    padding-top: 2px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 45px;
}

.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb
{
    position: absolute;
    left: 10px;
    top: 10px;
}
.ui-header-fixed, .ui-footer-fixed {
    opacity: 0.9;
    border-color: #fff;
    border: 0px;
/*
    background-color: #fff;
    border-color: #fff;
    border: 0px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
    */

}

#board .ui-listview .boardli {
    background-color: #111;
    color: #fff;
}

#board .ui-listview .boardparcentplus {
    color: #00ee55;
}

#board .ui-listview .boardparcentminus {
    color: #ff1111;
}
#home.ui-page-active {
    /*
    position: fixed;
    width: 100%;
    height: 100%;
    */
    /*
    background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #9ab1c7 0%, #1a242f 100%);
    background-image: radial-gradient(ellipse farthest-corner at center top, #9ab1c7 0%, #1a242f 100%);
    */
    background-color: #fff;
}

#login {
   /*background-image: url("../img/login_bg.jpg"); /* 全体の背景画像 */
   /*background-repeat: no-repeat;            /* 背景を繰り返さない */
   /*background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
   /*background-attachment:fixed;             /* 背景画像を固定する */

  /* 画像ファイルの指定 */
  /*background-image: url(../img/fundango_bg_mini.jpg);*/
  
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #234978;
}
#login .ui-header-fullscreen h3 {
    width: 100%;
}

#login .ui-header-fullscreen, #login .ui-footer-fullscreen {
    background-color: #fff;
    border-color: #fff;
    color:#444;
    opacity: 0.80;
    font-size: 11px;
    /*text-shadow: 0px 1px 2px rgba(0,0,0,0.2);*/
    border: 0px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
}

#logintitle {
    border-radius: 15px;
}

.ui-corner-all.ui-btn.ui-link#tweetloginbtn {
    background-color: #55ACEE;
    color: #FFF;
    border: 0px;
}
.ui-corner-all.ui-btn.ui-link#fbloginbtn {
    background-color: #3B5998;
    color: #FFF;
    border: 0px;
}

#depoarrowimg, #todepoimg, #fromdepoimg, #del_todepoimg, #del_fromdepoimg {
    width: 100px;
    height: 100px;
}

.depositaddbuttondiv {
    width: 48px;
    height: 20px;
    background: #99ccff;
    cursor: pointer;
    color: #fff;
}

.timelinetext {
    position: relative;
    left: -30px;
    width: 110%;
}

#deposit .ui-listview .ui-li-aside {
    top: 0px;
}
#notify .ui-listview .ui-li-aside {
    top: 0px;
}

.timelineimg {
    width: 200px;
}

.ui-listview .ui-li-aside.timelinedate {
    top: 0px;
    right: 0px;
    color: #aaa;
}

.unreadnotify {
    color: #ff1111;
    background: #55bbFF;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow: 0 0 0 #fff;
}

.ui-page-theme-a a:link, html .ui-bar-a a:link, html .ui-body-a a:link, html body .ui-group-theme-a a:link {
    /*color: #fff;*/
    font-weight: normal;
}
.colorful {
    background:
        -webkit-linear-gradient(45deg, hsla(275, 97%, 41%, 1) 0%, hsla(275, 97%, 41%, 0) 70%),
        -webkit-linear-gradient(315deg, hsla(214, 94%, 45%, 1) 10%, hsla(214, 94%, 45%, 0) 80%),
        -webkit-linear-gradient(225deg, hsla(87, 98%, 44%, 1) 10%, hsla(87, 98%, 44%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(209, 95%, 45%, 1) 100%, hsla(209, 95%, 45%, 0) 70%);
    background:
        linear-gradient(45deg, hsla(275, 97%, 41%, 1) 0%, hsla(275, 97%, 41%, 0) 70%),
        linear-gradient(135deg, hsla(214, 94%, 45%, 1) 10%, hsla(214, 94%, 45%, 0) 80%),
        linear-gradient(225deg, hsla(87, 98%, 44%, 1) 10%, hsla(87, 98%, 44%, 0) 80%),
        linear-gradient(315deg, hsla(209, 95%, 45%, 1) 100%, hsla(209, 95%, 45%, 0) 70%);
}

#login.ui-page-theme-a h1 {
    color: #fff;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    text-shadow: 0 0 0 #f3f3f3;
}

.ui-header .ui-title, .ui-footer .ui-title {
    margin: 0 20%;
}

.odometer {
    font-size: 20px;
}

#login .ui-overlay-a, #login .ui-page-theme-a,  #login .ui-page-theme-a .ui-panel-wrapper {
    color: #fff;
}