#logintitle {
    width: 240px;
    height: 400px;
    opacity: 0.9;
}

#login {
   /*background-image: url("../img/login_bg.jpg"); /* 全体の背景画像 */
   /*background-repeat: no-repeat;            /* 背景を繰り返さない */
   /*background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
   /*background-attachment:fixed;             /* 背景画像を固定する */

  /* 画像ファイルの指定 */
  background-image: url(../img/login_bg.jpg);
  
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}
#login .ui-header-fullscreen h3 {
    width: 100%;
}

#login .ui-header-fullscreen, #login .ui-footer-fullscreen {
    background-color: #fff;
    border-color: #fff;
    color:#FFFFFF;
    opacity: 0.80;
    font-size: 14px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    border: 0px;

    box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.02), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.2);
}

#logintitle {
    border-radius: 15px;
}

.ui-corner-all.ui-btn.ui-link#tweetloginbtn {
    background-color: #55ACEE;
    color: #FFF;
}
.ui-corner-all.ui-btn.ui-link#fbloginbtn {
    background-color: #3B5998;
    color: #FFF;
}
